bitsandbytes
controlnet_aux
diffusers==0.32.2
gradio==5.31.0
icecream==2.1.4
mediapipe==0.10.21
pyinstaller==6.13.0
supervision==0.25.1
torchvision
ultralytics==8.3.132
unet==0.8.1
peft
xformers

hf_xet==1.1.2


git+https://github.com/facebookresearch/sam2.git